:root {
	--background-size: 860px;
	--border-radius: 20px;
	--text: #fefefe;

	--black: #031812;
	--brown: #4E4838;
	--green: #0A4B39;
	--blue: #7B9F9F;

	--background: #0c2d48;
	--accent: #B1D4E0;
	--secondary: #2E8BC0;
	--primary: #145DA0;
}


* {
	box-sizing: border-box;
}

.app {
	text-align: center;
	height: 100vh;
	background-size: var(--background-size);

	@media (prefers-reduced-motion: no-preference) {
		animation: background-scroll infinite 210s linear;
	}

	&__inner {
		height: 100%;
		border: 1rem solid transparent;
		background-color: #0c2d4833;
	}

	&__content {
		background-color: var(--background);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 2rem;
		gap: clamp(1.5rem, 3vw, 3rem);
		color: var(--text);
		border-radius: var(--border-radius);
		border: 6px solid var(--primary);
		box-shadow: 0px 4px 10px 2px #0c2d4880;
		max-width: 1920px;
		margin: 0 auto;

		&--party-time {
			@media (prefers-reduced-motion: no-preference) {
				animation: party-time infinite 2000ms linear,
					on-beat alternate infinite 225ms ease-in;
			}

			.app__party-time {
				filter: invert(100%);
				animation: bop infinite 900ms ease-in;

				&:hover {
					animation: party-time-icon infinite 2000ms linear,
						bop infinite 900ms ease-in;
					transform: translateY(0);
					opacity: 0.5;
				}
			}

			.appa-picture {
				animation: bop infinite 900ms ease-in;
			}
		}
	}

	&__party-time {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		height: 4rem;
		width: 4rem;
		animation: party-time-icon infinite 3000ms linear;
		transition: all 200ms ease;
		cursor: pointer;

		&:hover {
			transform: translateY(-4px);
		}

		@media(max-width: 1024px) {
			right: calc(50% - 2rem);
		}
	}

	&__select {
		appearance: none;
		width: 12rem;
		border-radius: 4px;
		font-size: 1.25rem;
		padding: 0.5em 3.5em 0.5em 0.75em;
		cursor: pointer;
		background-image:
			linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%),
			linear-gradient(to right, #ccc, #ccc);
		background-position:
			calc(100% - 20px) calc(1em),
			calc(100% - 15px) calc(1em),
			calc(100% - 2em) 0.35em;
		background-size:
			5px 5px,
			5px 5px,
			1px 1.5em;
		background-repeat: no-repeat;
	}
}

.appa-picture {
	height: 60vmin;
	max-height: 610px;
	pointer-events: none;
	border-radius: var(--border-radius);
	border: 4px solid var(--accent);
	box-shadow: 0px 2px 8px 4px #00000080;

	// @media (prefers-reduced-motion: no-preference) {
	// 	animation: picture-hover alternate-reverse infinite 1200ms ease-in-out;
	// }
}

.appa {
	font-size: clamp(2rem, 6vw, 4.5rem);
	margin: 0;

	span {
		color: var(--accent);
		text-shadow: 1px 1px 0px var(--primary);
	}
}

@keyframes background-scroll {
	from {
		background-position: 0% 0%;
	}

	to {
		background-position: var(--background-size) 0%;
	}
}

$move: 0.5vmin;

@keyframes picture-hover {
	from {
		transform: translateY(0);
		box-shadow: 0px 2px 8px 4px #00000080;
	}

	to {
		transform: translateY($move*-1);
		box-shadow: 0px 1.5*$move $move*2.5 $move*.75 #00000030;
	}
}

@keyframes bop {
	0% {
		transform: translateY(0) rotate(0);
	}

	25% {
		transform: translateY($move*-1) rotate(1deg);
	}

	50% {
		transform: translateY(0) rotate(0);
	}

	75% {
		transform: translateY($move*-1) rotate(-1deg);
	}
}

@keyframes party-time {
	from {
		filter: hue-rotate(0deg);
	}

	to {
		filter: hue-rotate(360deg);
	}
}

@keyframes party-time-icon {
	from {
		filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%) hue-rotate(0deg)
	}

	to {
		filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%) hue-rotate(360deg)
	}
}

@keyframes on-beat {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.01);
	}
}